---

name: re-pre-commit

on:  # yamllint disable-line rule:truthy
  workflow_call:

  workflow_dispatch:

env:
  PYTHON_VERSION: '3.12.x'

permissions:
  contents: read

jobs:
  default-run:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout source code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - shell: bash
      run: |
        # install packages
        python -m pip install -U pip
        python -m pip install pre_commit

    - name: Run pre-commit on everything
      run: pre-commit run -a -v

  add-on-checkov:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout source code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Run Checkov Github Action
      id: checkov
      uses: bridgecrewio/checkov-action@c903af70b3b45a75049af3b64f5e15db11ea76de # v12.3046.0
      with:
        log_level: WARNING
        quiet: false
        skip_results_upload: "true"
        enable_secrets_scan_all_files: "true"
        skip_check: CKV_GIT_1,CKV_GIT_3,CKV_GIT_5,CKV_GIT_6,CKV2_GIT_1,CKV2_GHA_1,CKV_DOCKER_2,CKV_DOCKER_3
        # Skip Check Details
        # ID           Description
        # CKV_GIT_1    - Ensure GitHub repository is Private
        # CKV_GIT_3    - Ensure GitHub Repository defined in Terraform have vulnerability alerts enabled
        # CKV_GIT_5    - Ensure GitHub pull requests should require at least 2 approvals
        # CKV_GIT_6    - Ensure GitHub branch protection rules requires signed commits
        # CKV2_GIT_1   - Ensure each Repository has branch protection associated
        # CKV2_GHA_1   - Ensure top-level permissions are not set to write-all
        # CKV_DOCKER_2 - Ensure that HEALTHCHECK instructions have been added to container images
        # CKV_DOCKER_3 - Ensure that a user for the container has been created
